.create-player-form {
  max-width: 400px;
  padding: 20px;
}

.create-player-form label {
  display: block;
  margin-bottom: 10px;
}

.create-player-form input[type="text"],
.create-player-form input[type="date"],
.create-player-form input[type="number"],
.create-player-form input[type="checkbox"] {
  width: 100%;
  padding: 8px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.create-player-form button {
  display: block;
  padding: 10px;
  background-color: #4caf50;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin: auto;
}

.create-player-form button:hover {
  background-color: #45a049;
}