button {
  width: 100%;
}

label {
  color: #252525;
}

.tournament-list {
  padding: 20px;
}

.tournament-list .card-container {
  display: flex;
  flex-wrap: wrap;
}

.tournament-list .card-container .card {
  border: 1px solid #ccc;
  border-radius: 4px;
  padding: 10px;
  max-width: 300px; /* Define el ancho máximo de la tarjeta */
}

.tournament-list .card-container .card-content {
  margin-bottom: 10px;
}

.tournament-list .card-container .card-content div {
  display: flex;
  align-items: start;
  flex-direction: column;
}

.tournament-list .card-container .card-buttons {
  gap: 5px;
  display: flex;
  justify-content: flex-end;
  margin-top: 10px;
}

.tournament-list .card-container .card-buttons .btn-save {
  background-color: #252525;
}

.tournament-list .card-container .card-buttons .btn-remove {
  background-color: #f44336;
}

.tournament-list .card-container .card-buttons .btn-edit {
  background-color: #2196f3;
}

.container-edit {
  display: flex;
}
